/* General UNFINISHEDDDDDDDD BACKGROUND IMG WONT LOAD */  
body {

        background-image:'/Users/katherinebrake/ITM352_S22_repo/Brake_Katherine_Assignment1/Images/backimg.jpeg';
        background-repeat: no-repeat;
        background-position: center;
        background-size: 920px;
        width:  800px; margin: 0 auto;
}
img {
    width: 200px; height: 200px;
}
/* Typography */  
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
/* Styling the products display */ 
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
}
/* block styling */  
div {
    border: 5px solid black;
    display: flex;
}
